* {
	box-sizing: border-box;
}

body{
	background-color: #000;
}

button{
	font-size: 20px;
}

.bg{
	opacity: 0.5;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	height: 100%;
	background-image: url("https://i.kym-cdn.com/entries/icons/facebook/000/029/959/Screen_Shot_2019-06-05_at_1.26.32_PM.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

table{
	background: rgba(200, 200, 200, 0.6);
	font-size: 1.5rem;
	box-shadow: 8px 8px 20px;
}

tr{
	background-color: #222;
	color: #ddd;
	height: 40px;
}

th{
	width: 15rem;
}

.currencyTable{
	position: absolute;
	z-index: 2;
	top: 10%;
	right: 50px;
	width: 1200px;
}

.statsTable{
	position: absolute;
	top: 5%;
	left: 5%;
}

select{
	background-color: #222;
	color: #ddd;
}